body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 80px;
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: darkolivegreen;
background-color: white;
}

h2{
    font-size: 20px;
    color: darkolivegreen;
}

.mother{
    background-color: rgb(150, 170, 115);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
}


.child1{
    background-color:white; /* Baggrundsfarve */
    color: rgb(150, 170, 115); /* Tekstfarve */
    padding: 20px; /* Indvendig afstand */
    margin: 10px; /* Margin mellem felterne */
    flex: 1 1 30%; /* Flex-effekt for at få felterne til at fylde pladsen */
    text-align: center; /* Centrer tekst */
    border-radius: 10px; /* Runde hjørner */
    text-decoration: none; /* Fjern understregning */
    transition: background-color 0.3s; /* Overgangseffekt på hover */
}



.child2{
    background-color:white; /* Baggrundsfarve */
    color: rgb(150, 170, 115); /* Tekstfarve */
    padding: 20px; /* Indvendig afstand */
    margin: 10px; /* Margin mellem felterne */
    flex: 1 1 30%; /* Flex-effekt for at få felterne til at fylde pladsen */
    text-align: center; /* Centrer tekst */
    border-radius: 10px; /* Runde hjørner */
    text-decoration: none; /* Fjern understregning */
    transition: background-color 0.3s; /* Overgangseffekt på hover */
}

.highlight{
    font-weight: bold;
}

p{
    color: black;
}